<div class="main-col">
  <div class="first-col">
    <p class="header-1">Add user information</p>
    <form class="form_container" [formGroup]="formGb">
      <div class="col">
        <label for="name">Name</label>
        <input formControlName="name" type="text" id="name" />
      </div>
      <div class="col">
        <label for="age">Age</label>
        <input formControlName="age" type="number" id="name" />
      </div>

      <div class="col">
        <label for="gender">Gender</label>
        <div>
          <label for="Male">Male</label>
          <input
            formControlName="gender"
            type="radio"
            name="gender"
            value="male"
          />
          <label for="Female">Female</label>
          <input
            formControlName="gender"
            type="radio"
            name="gender"
            value-="female"
          />
        </div>
      </div>

      <div class="col">
        <label for="hobby">Hobbies</label>
        <!-- <div>
          <input formControlName="hobbies" type="text" name="hobby" />
         
        </div> -->
        <div class="arrayForm">
          <ng-container
            *ngFor="let item of hobbiesControl.controls; index as i"
          >
            <!-- <ng-container *ngIf-="item"> -->

            <input [formControl]="item" type="text" name="hobby" />

            <!-- </ng-container> -->
          </ng-container>
        </div>
        <button (click)="addHobbies()">+</button>
      </div>
      <div class="col">
        <div>
          <input formControlName="verify" type="checkbox" />
          <label for="">All the information are verified</label>
        </div>
      </div>
    </form>
    <div class="buttons">
      <button (click)="submit()">Add</button>
      <button (click)="reset()">Reset</button>
    </div>
  </div>

  <div class="sec-col">
    <table>
      <thead>
        <td>Name</td>
        <td>Age</td>

        <td>Gender</td>

        <td>Hobbies</td>
      </thead>

      <ng-container *ngFor="let item of data">
        <tr class="row">
          <td>
            {{ item.name }}
          </td>
          <td>
            {{ item.age }}
          </td>
          <td>
            {{ item.gender }}
          </td>
          <td>
            {{ item.hobbies }}
          </td>
          <td>
            <button>Delete</button>
          </td>
        </tr>
      </ng-container>
    </table>
  </div>
</div>
