<div class="main-col">
  <div class="first-col">
    <p class="header-1">Add user information</p>
    <form class="form_container" [formGroup]="formGb">
      <div class="col">
        <label for="name">Name</label>
        <input formControlName="name" type="text" id="name" />
      </div>
      <div class="col">
        <label for="age">Age</label>
        <input formControlName="age" type="number" id="name" />
      </div>

      <div class="col">
        <label for="gender">Gender</label>
        <div>
          <label for="Male">Male</label>
          <input
            formControlName="gender"
            type="radio"
            name="gender"
            value="male"
          />
          <label for="Female">Female</label>
          <input
            formControlName="gender"
            type="radio"
            name="gender"
            value-="female"
          />
        </div>
      </div>

      <div class="col">
        <label for="hobby">Hobbies</label>
        <!-- <div>
          <input formControlName="hobbies" type="text" name="hobby" />
         
        </div> -->
        <div class="arrayForm">
          <ng-container
            *ngFor="let item of hobbiesControl.controls; index as i"
          >
            <!-- <ng-container *ngIf-="item"> -->

            <input [formControl]="item" type="text" name="hobby" />

            <!-- </ng-container> -->
          </ng-container>
        </div>
        <button (click)="addHobbies()">+</button>
      </div>
      <div class="col">
        <div>
          <input formControlName="verify" type="checkbox" />
          <label for="">All the information are verified</label>
        </div>
      </div>
    </form>
    <div class="buttons">
      <button (click)="submit()">Add</button>
      <button (click)="reset()">Reset</button>
    </div>
  </div>

  <div class="sec-col">
    <table>
      <thead>
        <td>Name</td>
        <td>Age</td>

        <td>Gender</td>

        <td>Hobbies</td>
      </thead>

      <ng-container *ngFor="let item of data; index as i">
        <tr class="row">
          <td>
            {{ item.name }}
          </td>
          <td>
            {{ item.age }}
          </td>
          <td>
            {{ item.gender }}
          </td>
          <td>
            {{ item.hobbies }}
          </td>
          <td>
            <button (click)="deleteRow(i)">Delete</button>
          </td>
        </tr>
      </ng-container>
    </table>
  </div>
</div>

<!-- ////////////////////////////////////////////////// -->

<table>
  <tr>
    <th>Name</th>
    <th>SubOne</th>
    <th>SubTwo</th>
    <th>SubThree</th>
    <th>Status</th>
    <th>Edit</th>
  </tr>
  <ng-container *ngFor="let item of studenList; index as i">
    <tr>
      <td>{{ item.name }}</td>
      <td>{{ item.subOne }}</td>
      <td>{{ item.subTwo }}</td>
      <td>{{ item.subThree }}</td>
      <td>{{ item.status }}</td>
      <td style="cursor: pointer" (click)="editField(i)">Edit</td>
    </tr>
  </ng-container>
</table>

<button (click)="openForm()">Add</button>

<ng-container *ngIf="studentForm || editForm">
  <form [formGroup]="studentFormGroup">
    <div>
      <label for="name">Name</label>
      <input formControlName="name" name="name" type="text" />
    </div>
    <div>
      <label for="subOne">Subject 1</label>
      <input formControlName="subOne" name="subOne" type="number" />
    </div>
    <div>
      <label for="subTwo">Subject 2</label>
      <input formControlName="subTwo" name="subTwo" type="number" />
    </div>
    <div>
      <label for="subThree">Subject 3</label>
      <input formControlName="subThree" name="subThree" type="number" />
    </div>
    <button (click)="submitForm()">{{ editForm ? "Update" : "Submit" }}</button>
  </form>
</ng-container>
